{
    "swagger": "2.0",
    "info": {
        "title": "1. Teams 会议协作平台API接口协议",
        "version": "",
        "description": "Teams 会议协作平台是围绕会议提供相关服务的平台。其中，在会前提供会议日程、预约相关的管理，支持个人通讯录，团队来管理与会人员，在会中提供文件的上传、个人的会议笔记记录，在会后提供会议纪要的分享，历史会议的查看。\n\n## 1.1 统一约定\n\n- 全文中相同的字段，代表相同的含义。不可能有任何歧义。\n\n## 1.2 错误码定义\n\n+ 客户端参数错误(4xx错误)\n\n定义服务器验证客户端提交的参数失败的错误返回。\n\n返回在Body的code验证码如下：\n\n::: note\nHTTP Status |  code    | Description\n-----------:|---------:|  -----------\n  400       | 4001000  | 输入参数错误（缺少必要的参数，或者参数不正确）\n  400       | 4001001  | 配置邮箱SMTP配置错误\n  400       | 4001002  | 配置邮箱用户密码错误\n  403       | 4031003  | 用户权限验证失败，当前用户不能操作此接口\n  403       | 4031006  | 退出会议失败。主持人不能退出会议，只能取消会议\n  403       | 4031007  | 当前状态不正确。接受邀请/拒绝失败，成员状态不在邀请状态，或者会议纪要已发布，不能再次修改\n  404       | 4041000  | 资源不存在，如查询不到用户信息，查询不到\n:::\n\n+ 服务内部错误(500错误)\n\n定义服务器验证接受客户端请求成功后，内部不能正确处理的错误返回。\n\n返回在Body的code验证码如下：\n\n::: note\nHTTP Status |  code    | Description\n-----------:|---------:|  -----------\n  500       | 5001000  | 服务器内部错误\n  501       | 5011000  | 配置邮箱失败，无法访问推送系统\n:::\n\n## 1.3 名词解释\n\n+ 用户\n\n使用本系统的最终用户。系统实体标识字段为userId。\n注意：该 userId 和账号系统返回的 userId 并不一致。userId 为登录时返回的_id 字段\n\n+ 当前用户\n\n对于需要 user token 鉴权的接口，当前用户代表对应 token 的 userId。不需要 user token 鉴权的接口，该名词无意义。\n如无特殊说明，所有涉及到 userId 的场景，默认要求都是当前用户\n\n+ 会议\n\n本系统中的虚拟会议。系统实体标识字段为 meetingId。\n\n+ 我的会议记录\n\n针对于单独用户的会议记录，一个会议中每个人都有自己的会议记录，可能每个人的会议记录都是相同内容的拷贝。\n\n+ 会议纪要\n\n会议的总结记录，记录跟随会议。英文单词 MeetingSummary\n\n+ 会议笔记\n\n会议的个人笔记，记录跟随用户。英文单词 note\n\n## 1.4 认证说明\n\n使用账号系统作为认证系统\n\n+ 用户访问接口\n\n每次请求时，在Header头的设置Authorization值，`用户访问令牌`。具体参考每次请求协议。\n\n+ 客户端访问接口\n\n每次请求时，在Header附带`客户端访问令牌`。具体参考每次请求协议。"
    },
    "host": "apis.maxhub.vip",
    "basePath": "/teams",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/pauth/authorize?response_type={response_type}&scope={scope}&client_id={client_id}&redirect_uri={redirect_uri}&state={state}&platform={platform}": {
            "get": {
                "responses": {
                    "304": {
                        "description": "Not Modified",
                        "headers": {},
                        "examples": {
                            "text/html": ""
                        }
                    }
                },
                "summary": "2.1.1 获取授权码",
                "description": "该请求会重定向至对应的账号系统，显示账号系统的登录页。网页登录成功后，会返回重定向信息，重定向的地址为接口参数，redirect_uri。\n比如 https://example.com?code=12345\n客户端应该拦截此重定向，截取接口中的code，调用2.2.1的登录接口进行登录操作。",
                "tags": [
                    "2. 账号接口"
                ],
                "parameters": [
                    {
                        "name": "response_type",
                        "in": "path",
                        "description": "固定参数",
                        "required": true,
                        "x-example": "code",
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "path",
                        "description": "固定参数",
                        "required": true,
                        "x-example": "basic",
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "客户端 id，向账号系统申请",
                        "required": true,
                        "x-example": "1525efbf-bd2c-efbf-bdef-bfbd4550efbf",
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "path",
                        "description": "表示重定向回调地址的uri。uri必须符合创建客户端时的callbackUri设置规则。",
                        "required": true,
                        "x-example": "https://example.com",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "description": "状态，任意值。账号系统会原封不动返回这个值",
                        "required": false,
                        "x-example": "xyz",
                        "type": "string"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "平台，用于给前端进行UI适配。app：移动客户端，pc-app：桌面客户端，maxhub：MAXHUB，web：桌面端浏览器，weixin：移动端微信，mobile：移动端浏览器。默认显示移动端微信版面。",
                        "required": false,
                        "x-example": "web",
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/html"
                ]
            }
        },
        "/api/pauth/token?code={code}&grant_type=authorization": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "_id": "cb5222accd2acec",
                                "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                "access_token": "f14454c5-83b5-4611-bf47-a9a486824983",
                                "refresh_token": "f14454c5-83b5-4611-bf47-a9a486824983",
                                "expires_in": "1209600",
                                "token_type": "Bearer",
                                "email": "luhui@cvte.com",
                                "mobile": "13929561881",
                                "createTime": "1532920897000",
                                "avatar": "https://res.maxhub.vip/img/123",
                                "displayName": "账号系统的昵称"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "_id": {
                                    "type": "string",
                                    "description": "用户 id"
                                },
                                "systemId": {
                                    "type": "string",
                                    "description": "对应账号系统的 id"
                                },
                                "access_token": {
                                    "type": "string",
                                    "description": "用户访问令牌"
                                },
                                "refresh_token": {
                                    "type": "string",
                                    "description": "刷新令牌，用于刷新访问令牌的有效期"
                                },
                                "expires_in": {
                                    "type": "string",
                                    "description": "令牌有效期，单位秒。一般为1209600，即14天。"
                                },
                                "token_type": {
                                    "type": "string",
                                    "description": "令牌类型"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "邮箱"
                                },
                                "mobile": {
                                    "type": "string",
                                    "description": "手机号"
                                },
                                "createTime": {
                                    "type": "string",
                                    "description": "用户创建时间"
                                },
                                "avatar": {
                                    "type": "string",
                                    "description": "头像地址"
                                },
                                "displayName": {
                                    "type": "string",
                                    "description": "用户昵称"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "2.2.1 授权码登录",
                "description": "客户端在前端获取到 code 后，通过此接口进行登录，返回 token 信息以及用户信息",
                "tags": [
                    "2. 账号接口"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "账号服务器回调的授权码",
                        "required": true,
                        "x-example": "code",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/pauth/login": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "_id": "cb5222accd2acec",
                                "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                "access_token": "f14454c5-83b5-4611-bf47-a9a486824983",
                                "refresh_token": "f14454c5-83b5-4611-bf47-a9a486824983",
                                "expires_in": "1209600",
                                "token_type": "Bearer",
                                "email": "luhui@cvte.com",
                                "mobile": "13929561881",
                                "createTime": "1532920897000",
                                "avatar": "https://res.maxhub.vip/img/123",
                                "displayName": "账号系统的昵称"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "_id": {
                                    "type": "string",
                                    "description": "用户 id"
                                },
                                "systemId": {
                                    "type": "string",
                                    "description": "对应账号系统的 id"
                                },
                                "access_token": {
                                    "type": "string",
                                    "description": "用户访问令牌"
                                },
                                "refresh_token": {
                                    "type": "string",
                                    "description": "刷新令牌，用于刷新访问令牌的有效期"
                                },
                                "expires_in": {
                                    "type": "string",
                                    "description": "令牌有效期，单位秒。一般为1209600，即14天。"
                                },
                                "token_type": {
                                    "type": "string",
                                    "description": "令牌类型"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "邮箱"
                                },
                                "mobile": {
                                    "type": "string",
                                    "description": "手机号"
                                },
                                "createTime": {
                                    "type": "string",
                                    "description": "用户创建时间"
                                },
                                "avatar": {
                                    "type": "string",
                                    "description": "头像地址"
                                },
                                "displayName": {
                                    "type": "string",
                                    "description": "用户昵称"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "2.2.2 4A 登录",
                "description": "使用 4A 账号密码登录",
                "tags": [
                    "2. 账号接口"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "userId"
                            ],
                            "properties": {
                                "userId": {
                                    "type": "string",
                                    "description": "4A 账号"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "4A 密码"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users?mobile={mobile}&email={email}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "_id": "cb5222accd2acec",
                                    "email": "luhui@cvte.com",
                                    "mobile": "13929561881",
                                    "createTime": "1532920897000",
                                    "avatar": "https://res.maxhub.vip/img/123",
                                    "displayName": "账号系统的昵称",
                                    "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                    "jobTitle": "开发工程师",
                                    "department": "1602"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.1.1 查询用户信息",
                "description": "1. 手机号和邮箱，只会返回一个，根据查询的条件决定。用手机号查询，则返回手机号信息，用邮箱查询，则返回邮箱信息\n\n2. 返回的信息里，手机号和邮箱只显示部分信息\n\n3. 对于未注册用户，如果该手机号或邮箱从未被其他人邀请加入会议或者团队，则返回404，否则返回相应的 userId，此时 systemId 为空。客户端应通过 systemId 是否为空来判断该用户是否已注册",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "mobile",
                        "in": "path",
                        "description": "通过手机号查询，和邮箱互斥",
                        "required": false,
                        "x-example": "13929561881",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "description": "通过邮箱查询，和手机号互斥",
                        "required": false,
                        "x-example": "luhui@cvte.com",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users?keyword={keyword}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "_id": "cb5222accd2acec",
                                    "email": "luhui@cvte.com",
                                    "mobile": "13929561881",
                                    "createTime": "1532920897000",
                                    "avatar": "https://res.maxhub.vip/img/123",
                                    "displayName": "账号系统的昵称",
                                    "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                    "jobTitle": "开发工程师",
                                    "department": "1602"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.1.2 搜索用户",
                "description": "1. 搜索字符必须为3个及以上\n\n2. 如果是纯数字，必须4个及以上\n\n3. 不支持单纯搜索邮件后缀，如 @cvte\n\n4. 最多只返回20条结果",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "path",
                        "description": "关键字，可以是邮箱、手机号、姓名、姓名拼音",
                        "required": true,
                        "x-example": "13929",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users/{userId}/actions/config_mail": {
            "patch": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.2.1 配置邮箱",
                "description": "配置邮箱，同时在推送系统里注册邮箱信息",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "用户 id",
                        "required": true,
                        "x-example": "1525efbf-bd2c-efbf-bdef-bfbd4550efbf",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "邮箱"
                                },
                                "username": {
                                    "type": "string",
                                    "description": "邮箱的用户名base64编码，不填写则默认提取邮箱的名称"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "邮箱的密码"
                                },
                                "smtpServer": {
                                    "type": "string",
                                    "description": "发件服务器"
                                },
                                "smtpPort": {
                                    "type": "number",
                                    "description": "发件服务器端口"
                                }
                            },
                            "required": [
                                "email",
                                "password"
                            ],
                            "example": {
                                "email": "luhui@cvte.com",
                                "username": "base64(luhui)",
                                "password": "base64(12345678)",
                                "smtpServer": "smtp.cvte.com",
                                "smtpPort": 25
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users/{userId}/meeting_records?page={page}&row={row}&state={state}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "user": "cb5222accd2acec",
                                    "meeting": {
                                        "_id": "cb5222accd2acec",
                                        "subject": "交互评审会议",
                                        "content": "teams 的交互评审",
                                        "beginTime": "1532920897000",
                                        "endTime": "1532930897000",
                                        "address": "科珠425",
                                        "master": "cb5222accd2acec",
                                        "creator": "cb5222accd2acec",
                                        "shareId": "cb5222accd2acec",
                                        "accessKey": "1234",
                                        "state": "0",
                                        "members": [
                                            {
                                                "user": {
                                                    "_id": "cb5222accd2acec",
                                                    "email": "luhui@cvte.com",
                                                    "mobile": "13929561881",
                                                    "createTime": "1532920897000",
                                                    "avatar": "https://res.maxhub.vip/img/123",
                                                    "displayName": "账号系统的昵称",
                                                    "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                                    "jobTitle": "开发工程师",
                                                    "department": "1602"
                                                },
                                                "meeting": "cb5222accd2acec",
                                                "createTime": "1532930897000",
                                                "state": "0",
                                                "from": 0,
                                                "invitor": {
                                                    "_id": "cb5222accd2acec",
                                                    "email": "luhui@cvte.com",
                                                    "mobile": "13929561881",
                                                    "createTime": "1532920897000",
                                                    "avatar": "https://res.maxhub.vip/img/123",
                                                    "displayName": "账号系统的昵称",
                                                    "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                                    "jobTitle": "开发工程师",
                                                    "department": "1602"
                                                }
                                            }
                                        ],
                                        "repeatMeeting": "cb5222accd2acec",
                                        "order": "",
                                        "orderState": 0,
                                        "orderDescription": "会议说明",
                                        "isPublic": 0
                                    },
                                    "member": {
                                        "user": {
                                            "_id": "cb5222accd2acec",
                                            "email": "luhui@cvte.com",
                                            "mobile": "13929561881",
                                            "createTime": "1532920897000",
                                            "avatar": "https://res.maxhub.vip/img/123",
                                            "displayName": "账号系统的昵称",
                                            "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                            "jobTitle": "开发工程师",
                                            "department": "1602"
                                        },
                                        "meeting": "cb5222accd2acec",
                                        "createTime": "1532930897000",
                                        "state": "0",
                                        "from": 0,
                                        "invitor": {
                                            "_id": "cb5222accd2acec",
                                            "email": "luhui@cvte.com",
                                            "mobile": "13929561881",
                                            "createTime": "1532920897000",
                                            "avatar": "https://res.maxhub.vip/img/123",
                                            "displayName": "账号系统的昵称",
                                            "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                            "jobTitle": "开发工程师",
                                            "department": "1602"
                                        }
                                    },
                                    "noteContent": "功能设计有遗漏，需要补充业务流程",
                                    "noteSubject": "功能设计评审会议记录",
                                    "inviteState": 0,
                                    "summaryState": 0,
                                    "invitor": {
                                        "_id": "cb5222accd2acec",
                                        "email": "luhui@cvte.com",
                                        "mobile": "13929561881",
                                        "createTime": "1532920897000",
                                        "avatar": "https://res.maxhub.vip/img/123",
                                        "displayName": "账号系统的昵称",
                                        "systemId": "cb5222ac-cd2a-11e7-abc4-cec278b6b50a",
                                        "jobTitle": "开发工程师",
                                        "department": "1602"
                                    },
                                    "userReadTime": 1532930897000,
                                    "changeLogs": [
                                        {
                                            "modifier": "cb5222accd2acec",
                                            "key": "修改的字段",
                                            "newValue": "fixed",
                                            "oldValue": "fixed",
                                            "createTime": 1532930897000
                                        }
                                    ]
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "user": {
                                        "type": "string",
                                        "enum": [
                                            "cb5222accd2acec"
                                        ],
                                        "description": "用户 id"
                                    },
                                    "meeting": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "会议 id"
                                            },
                                            "subject": {
                                                "type": "string",
                                                "enum": [
                                                    "交互评审会议"
                                                ],
                                                "description": "会议主题"
                                            },
                                            "content": {
                                                "type": "string",
                                                "enum": [
                                                    "teams 的交互评审"
                                                ],
                                                "description": "会议的内容描述"
                                            },
                                            "beginTime": {
                                                "type": "string",
                                                "enum": [
                                                    "1532920897000"
                                                ],
                                                "description": "会议开始时间"
                                            },
                                            "endTime": {
                                                "type": "string",
                                                "enum": [
                                                    "1532930897000"
                                                ],
                                                "description": "会议结束时间"
                                            },
                                            "address": {
                                                "type": "string",
                                                "enum": [
                                                    "科珠425"
                                                ],
                                                "description": "会议地点"
                                            },
                                            "master": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "主持人 id"
                                            },
                                            "creator": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "会议创建者 id"
                                            },
                                            "shareId": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "云盘共享空间 id"
                                            },
                                            "accessKey": {
                                                "type": "string",
                                                "enum": [
                                                    "1234"
                                                ],
                                                "description": "共享空间的访问秘钥"
                                            },
                                            "state": {
                                                "anyOf": [
                                                    {
                                                        "type": "number",
                                                        "enum": [
                                                            0,
                                                            1,
                                                            2,
                                                            3,
                                                            4
                                                        ]
                                                    },
                                                    {
                                                        "type": "string",
                                                        "enum": [
                                                            "0"
                                                        ]
                                                    }
                                                ],
                                                "default": 0,
                                                "description": "会议状态，0为预约、1进行中、2取消、3完成、4归档，默认为0"
                                            },
                                            "members": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "user": {
                                                            "type": "object",
                                                            "properties": {
                                                                "_id": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "cb5222accd2acec"
                                                                    ],
                                                                    "description": "用户 id"
                                                                },
                                                                "email": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "luhui@cvte.com"
                                                                    ],
                                                                    "description": "邮箱"
                                                                },
                                                                "mobile": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "13929561881"
                                                                    ],
                                                                    "description": "手机号"
                                                                },
                                                                "createTime": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "1532920897000"
                                                                    ],
                                                                    "description": "用户创建时间"
                                                                },
                                                                "avatar": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "https://res.maxhub.vip/img/123"
                                                                    ],
                                                                    "description": "头像地址"
                                                                },
                                                                "displayName": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "账号系统的昵称"
                                                                    ],
                                                                    "description": "用户昵称"
                                                                },
                                                                "systemId": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "cb5222ac-cd2a-11e7-abc4-cec278b6b50a"
                                                                    ],
                                                                    "description": "对应账号系统的 id"
                                                                },
                                                                "jobTitle": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "开发工程师"
                                                                    ],
                                                                    "description": "职位"
                                                                },
                                                                "department": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "1602"
                                                                    ],
                                                                    "description": "部门"
                                                                }
                                                            },
                                                            "required": [
                                                                "_id",
                                                                "email",
                                                                "mobile",
                                                                "createTime",
                                                                "avatar",
                                                                "displayName",
                                                                "systemId",
                                                                "jobTitle",
                                                                "department"
                                                            ],
                                                            "additionalProperties": false,
                                                            "description": "与会者用户信息"
                                                        },
                                                        "meeting": {
                                                            "type": "string",
                                                            "enum": [
                                                                "cb5222accd2acec"
                                                            ],
                                                            "description": "会议 id"
                                                        },
                                                        "createTime": {
                                                            "type": "string",
                                                            "enum": [
                                                                "1532930897000"
                                                            ],
                                                            "description": "加入会议的时间"
                                                        },
                                                        "state": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "number",
                                                                    "enum": [
                                                                        0,
                                                                        1,
                                                                        2
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "0"
                                                                    ]
                                                                }
                                                            ],
                                                            "default": 0,
                                                            "description": "与会人员当前的状态 - 0为待确认，1为拒绝，2为确认，默认为0"
                                                        },
                                                        "from": {
                                                            "type": "number",
                                                            "enum": [
                                                                0,
                                                                1,
                                                                2
                                                            ],
                                                            "default": 0,
                                                            "description": "添加来源，0为其他，1为手机，2为邮箱"
                                                        },
                                                        "invitor": {
                                                            "type": "object",
                                                            "properties": {
                                                                "_id": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "cb5222accd2acec"
                                                                    ],
                                                                    "description": "用户 id"
                                                                },
                                                                "email": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "luhui@cvte.com"
                                                                    ],
                                                                    "description": "邮箱"
                                                                },
                                                                "mobile": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "13929561881"
                                                                    ],
                                                                    "description": "手机号"
                                                                },
                                                                "createTime": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "1532920897000"
                                                                    ],
                                                                    "description": "用户创建时间"
                                                                },
                                                                "avatar": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "https://res.maxhub.vip/img/123"
                                                                    ],
                                                                    "description": "头像地址"
                                                                },
                                                                "displayName": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "账号系统的昵称"
                                                                    ],
                                                                    "description": "用户昵称"
                                                                },
                                                                "systemId": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "cb5222ac-cd2a-11e7-abc4-cec278b6b50a"
                                                                    ],
                                                                    "description": "对应账号系统的 id"
                                                                },
                                                                "jobTitle": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "开发工程师"
                                                                    ],
                                                                    "description": "职位"
                                                                },
                                                                "department": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "1602"
                                                                    ],
                                                                    "description": "部门"
                                                                }
                                                            },
                                                            "required": [
                                                                "_id",
                                                                "email",
                                                                "mobile",
                                                                "createTime",
                                                                "avatar",
                                                                "displayName",
                                                                "systemId",
                                                                "jobTitle",
                                                                "department"
                                                            ],
                                                            "additionalProperties": false,
                                                            "description": "邀请者"
                                                        }
                                                    },
                                                    "required": [
                                                        "user",
                                                        "meeting",
                                                        "createTime",
                                                        "state",
                                                        "from",
                                                        "invitor"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "description": "会议成员"
                                            },
                                            "repeatMeeting": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "关联的重复会议 id"
                                            },
                                            "order": {
                                                "type": "string",
                                                "enum": [
                                                    ""
                                                ],
                                                "description": "对应的会议室订单id"
                                            },
                                            "orderState": {
                                                "type": "number",
                                                "enum": [
                                                    0
                                                ],
                                                "description": "订单状态，0为没有预约会议室，1为预约，2为签到，3为结束，4为取消（和会议室管理的订单状态保持一致，放在这里维护是因为现在4的状态 order 会被删掉，满足不了当前需求，会议室管理系统不好改）"
                                            },
                                            "orderDescription": {
                                                "type": "string",
                                                "enum": [
                                                    "会议说明"
                                                ],
                                                "description": "仅用于会议室管理页面的会议说明"
                                            },
                                            "isPublic": {
                                                "type": "number",
                                                "enum": [
                                                    0
                                                ],
                                                "description": "是否公开，仅用于会议室管理，0为不公开，1为公开"
                                            }
                                        },
                                        "required": [
                                            "_id",
                                            "subject",
                                            "content",
                                            "beginTime",
                                            "endTime",
                                            "address",
                                            "master",
                                            "creator",
                                            "shareId",
                                            "accessKey",
                                            "state",
                                            "members",
                                            "repeatMeeting",
                                            "order",
                                            "orderState",
                                            "orderDescription"
                                        ],
                                        "additionalProperties": false
                                    },
                                    "member": {
                                        "type": "object",
                                        "properties": {
                                            "user": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string",
                                                        "enum": [
                                                            "cb5222accd2acec"
                                                        ],
                                                        "description": "用户 id"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "enum": [
                                                            "luhui@cvte.com"
                                                        ],
                                                        "description": "邮箱"
                                                    },
                                                    "mobile": {
                                                        "type": "string",
                                                        "enum": [
                                                            "13929561881"
                                                        ],
                                                        "description": "手机号"
                                                    },
                                                    "createTime": {
                                                        "type": "string",
                                                        "enum": [
                                                            "1532920897000"
                                                        ],
                                                        "description": "用户创建时间"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "enum": [
                                                            "https://res.maxhub.vip/img/123"
                                                        ],
                                                        "description": "头像地址"
                                                    },
                                                    "displayName": {
                                                        "type": "string",
                                                        "enum": [
                                                            "账号系统的昵称"
                                                        ],
                                                        "description": "用户昵称"
                                                    },
                                                    "systemId": {
                                                        "type": "string",
                                                        "enum": [
                                                            "cb5222ac-cd2a-11e7-abc4-cec278b6b50a"
                                                        ],
                                                        "description": "对应账号系统的 id"
                                                    },
                                                    "jobTitle": {
                                                        "type": "string",
                                                        "enum": [
                                                            "开发工程师"
                                                        ],
                                                        "description": "职位"
                                                    },
                                                    "department": {
                                                        "type": "string",
                                                        "enum": [
                                                            "1602"
                                                        ],
                                                        "description": "部门"
                                                    }
                                                },
                                                "required": [
                                                    "_id",
                                                    "email",
                                                    "mobile",
                                                    "createTime",
                                                    "avatar",
                                                    "displayName",
                                                    "systemId",
                                                    "jobTitle",
                                                    "department"
                                                ],
                                                "additionalProperties": false,
                                                "description": "与会者用户信息"
                                            },
                                            "meeting": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "会议 id"
                                            },
                                            "createTime": {
                                                "type": "string",
                                                "enum": [
                                                    "1532930897000"
                                                ],
                                                "description": "加入会议的时间"
                                            },
                                            "state": {
                                                "anyOf": [
                                                    {
                                                        "type": "number",
                                                        "enum": [
                                                            0,
                                                            1,
                                                            2
                                                        ]
                                                    },
                                                    {
                                                        "type": "string",
                                                        "enum": [
                                                            "0"
                                                        ]
                                                    }
                                                ],
                                                "default": 0,
                                                "description": "与会人员当前的状态 - 0为待确认，1为拒绝，2为确认，默认为0"
                                            },
                                            "from": {
                                                "type": "number",
                                                "enum": [
                                                    0,
                                                    1,
                                                    2
                                                ],
                                                "default": 0,
                                                "description": "添加来源，0为其他，1为手机，2为邮箱"
                                            },
                                            "invitor": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string",
                                                        "enum": [
                                                            "cb5222accd2acec"
                                                        ],
                                                        "description": "用户 id"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "enum": [
                                                            "luhui@cvte.com"
                                                        ],
                                                        "description": "邮箱"
                                                    },
                                                    "mobile": {
                                                        "type": "string",
                                                        "enum": [
                                                            "13929561881"
                                                        ],
                                                        "description": "手机号"
                                                    },
                                                    "createTime": {
                                                        "type": "string",
                                                        "enum": [
                                                            "1532920897000"
                                                        ],
                                                        "description": "用户创建时间"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "enum": [
                                                            "https://res.maxhub.vip/img/123"
                                                        ],
                                                        "description": "头像地址"
                                                    },
                                                    "displayName": {
                                                        "type": "string",
                                                        "enum": [
                                                            "账号系统的昵称"
                                                        ],
                                                        "description": "用户昵称"
                                                    },
                                                    "systemId": {
                                                        "type": "string",
                                                        "enum": [
                                                            "cb5222ac-cd2a-11e7-abc4-cec278b6b50a"
                                                        ],
                                                        "description": "对应账号系统的 id"
                                                    },
                                                    "jobTitle": {
                                                        "type": "string",
                                                        "enum": [
                                                            "开发工程师"
                                                        ],
                                                        "description": "职位"
                                                    },
                                                    "department": {
                                                        "type": "string",
                                                        "enum": [
                                                            "1602"
                                                        ],
                                                        "description": "部门"
                                                    }
                                                },
                                                "required": [
                                                    "_id",
                                                    "email",
                                                    "mobile",
                                                    "createTime",
                                                    "avatar",
                                                    "displayName",
                                                    "systemId",
                                                    "jobTitle",
                                                    "department"
                                                ],
                                                "additionalProperties": false,
                                                "description": "邀请者"
                                            }
                                        },
                                        "required": [
                                            "user",
                                            "meeting",
                                            "createTime",
                                            "state",
                                            "from",
                                            "invitor"
                                        ],
                                        "additionalProperties": false,
                                        "description": "所在会议的成员信息"
                                    },
                                    "noteContent": {
                                        "type": "string",
                                        "enum": [
                                            "功能设计有遗漏，需要补充业务流程"
                                        ],
                                        "description": "我的会议笔记"
                                    },
                                    "noteSubject": {
                                        "type": "string",
                                        "enum": [
                                            "功能设计评审会议记录"
                                        ],
                                        "description": "我的会议笔记主题"
                                    },
                                    "inviteState": {
                                        "type": "number",
                                        "enum": [
                                            0,
                                            1,
                                            2
                                        ],
                                        "default": 0,
                                        "description": "邀请状态"
                                    },
                                    "summaryState": {
                                        "type": "number",
                                        "enum": [
                                            0,
                                            1,
                                            2
                                        ],
                                        "default": 0,
                                        "description": "会议纪要状态"
                                    },
                                    "invitor": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222accd2acec"
                                                ],
                                                "description": "用户 id"
                                            },
                                            "email": {
                                                "type": "string",
                                                "enum": [
                                                    "luhui@cvte.com"
                                                ],
                                                "description": "邮箱"
                                            },
                                            "mobile": {
                                                "type": "string",
                                                "enum": [
                                                    "13929561881"
                                                ],
                                                "description": "手机号"
                                            },
                                            "createTime": {
                                                "type": "string",
                                                "enum": [
                                                    "1532920897000"
                                                ],
                                                "description": "用户创建时间"
                                            },
                                            "avatar": {
                                                "type": "string",
                                                "enum": [
                                                    "https://res.maxhub.vip/img/123"
                                                ],
                                                "description": "头像地址"
                                            },
                                            "displayName": {
                                                "type": "string",
                                                "enum": [
                                                    "账号系统的昵称"
                                                ],
                                                "description": "用户昵称"
                                            },
                                            "systemId": {
                                                "type": "string",
                                                "enum": [
                                                    "cb5222ac-cd2a-11e7-abc4-cec278b6b50a"
                                                ],
                                                "description": "对应账号系统的 id"
                                            },
                                            "jobTitle": {
                                                "type": "string",
                                                "enum": [
                                                    "开发工程师"
                                                ],
                                                "description": "职位"
                                            },
                                            "department": {
                                                "type": "string",
                                                "enum": [
                                                    "1602"
                                                ],
                                                "description": "部门"
                                            }
                                        },
                                        "required": [
                                            "_id",
                                            "email",
                                            "mobile",
                                            "createTime",
                                            "avatar",
                                            "displayName",
                                            "systemId",
                                            "jobTitle",
                                            "department"
                                        ],
                                        "additionalProperties": false,
                                        "description": "邀请者"
                                    },
                                    "userReadTime": {
                                        "type": "number",
                                        "enum": [
                                            1532930897000
                                        ],
                                        "description": "用户浏览会议记录的时间，默认为创建时间"
                                    },
                                    "changeLogs": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "modifier": {
                                                    "type": "string",
                                                    "enum": [
                                                        "cb5222accd2acec"
                                                    ],
                                                    "description": "修改人 id"
                                                },
                                                "key": {
                                                    "type": "string",
                                                    "enum": [
                                                        "修改的字段"
                                                    ]
                                                },
                                                "newValue": {
                                                    "type": "string",
                                                    "enum": [
                                                        "fixed"
                                                    ],
                                                    "description": "修改后的值"
                                                },
                                                "oldValue": {
                                                    "type": "string",
                                                    "enum": [
                                                        "fixed"
                                                    ],
                                                    "description": "修改前的值"
                                                },
                                                "createTime": {
                                                    "type": "number",
                                                    "enum": [
                                                        1532930897000
                                                    ],
                                                    "description": "修改时间"
                                                }
                                            },
                                            "required": [
                                                "modifier",
                                                "key",
                                                "newValue",
                                                "oldValue",
                                                "createTime"
                                            ],
                                            "additionalProperties": false
                                        },
                                        "description": "从上次用户浏览会议记录时间到当前的变更记录"
                                    }
                                },
                                "required": [
                                    "user",
                                    "meeting",
                                    "member",
                                    "noteContent",
                                    "noteSubject",
                                    "inviteState",
                                    "summaryState",
                                    "invitor",
                                    "userReadTime",
                                    "changeLogs"
                                ],
                                "additionalProperties": false
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.3.1 查询我的会议列表",
                "description": "",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "cb5222accd2acec",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "0",
                        "type": "number"
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "1",
                        "type": "number"
                    },
                    {
                        "name": "row",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "10",
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users/{userId}/meeting_records/{meetingId}": {
            "patch": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.4.1 更新笔记",
                "description": "更新笔记操作",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "cb5222accd2acec",
                        "type": "string"
                    },
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "cb5222ac-cd2a-11e7-abc4-cec278b6b50b",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "noteContent": {
                                    "type": "string",
                                    "description": "更新我的笔记内容"
                                },
                                "noteSubject": {
                                    "type": "string",
                                    "description": "更新我的笔记主题"
                                }
                            },
                            "example": {
                                "noteContent": "我的笔记内容",
                                "noteSubject": "我的笔记标题"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "code": 4001001,
                                "message": ""
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "number",
                                    "description": "错误码"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "错误内容"
                                }
                            }
                        }
                    }
                },
                "summary": "3.4.2 删除会议记录",
                "description": "删除一条会议记录，只能删除已结束的会议记录",
                "tags": [
                    "3. 用户接口协议"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "cb5222accd2acec",
                        "type": "string"
                    },
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "x-example": "cb5222accd2acec",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/users/{userId}/meeting_records/{meetingId}/state/read": {
            "patch": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
[...]
